#enviroment
/env
.env


db.sqlite3
/media
**/__pycache__/**
!**/__pycache__
!**/__pycache__/__init__.cpython-312.pyc
**/migrations/**
!**/migrations
!**/migrations/__init__.py

up.bat
videoflix/keyfile.py
videoflix/local_settings.py

videoflix_app/api/worker.log